.banner {
    width: 90%;
    margin: 0 auto 120px;
    color: white;
    .banner__background {
        background-image: url(../../img/pro_banner_1400px-2x.png);
        background-size: cover;
        height: 300px;
        display: flex;
        align-items: center;
        .banner__content{
            // width: 40%;
            padding-left: 65px;
            span {
                padding-bottom: 10px;
                font-size: 15px;
                img {
                    width: 100px;
                    height: auto;
                }
            }
            h3 {
                font-size: 28px;
                padding: 30px 0;
            }
            a {
                // color: white;
                text-decoration: none;
            }
        }
    }
    @include responsive("extra-large") {
        width: 92%;
      }
    @include responsive("large") {
    width: 95%;
    margin-bottom: 80px;
    }
}